<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SpineHero.Properties.Notifications" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="SpineHero.Properties.Const" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="SpineHero.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SpineHero.Properties.Notifications" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="SpineHero.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <applicationSettings>
    <SpineHero.Properties.Notifications>
      <setting name="PopupNotificationDisplayInterval" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="PopupNotificationFadeOutMiliseconds" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="DimNotificationFadeIn" serializeAs="String">
        <value>00:00:10</value>
      </setting>
      <setting name="DimNotificationFadeOut" serializeAs="String">
        <value>00:00:00.5000000</value>
      </setting>
      <setting name="UnknownPostureLimit" serializeAs="String">
        <value>10</value>
      </setting>
    </SpineHero.Properties.Notifications>
    <SpineHero.Properties.Const>
      <setting name="EvaluationMovingAvgCount" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="EvaluationListMaxLimit" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="EvaluationListLowerLimit" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PopupNotificationDisplayInterval" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="PopupNotificationFaadeOutMiliseconds" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="CalibrationPeriod" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="CollectPeriod" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="RSQMaxDisplayTime" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="RSQMaxDisplayTimeGraph" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="RSQMaxSecToConnectLine" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="RSQGraphUpdateInterval" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="RSQGraphAbsoluteMaximumPadding" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="RSQGraphClearInterval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="AppMinimalizePopupFadeOutInterval" serializeAs="String">
        <value>3</value>
      </setting>
    </SpineHero.Properties.Const>
    <SpineHero.Properties.Settings>
      <setting name="CalibrationPath" serializeAs="String">
        <value>Resources\CalibrationData\</value>
      </setting>
      <setting name="DatabasePath" serializeAs="String">
        <value>Resources\SpineHero.db</value>
      </setting>
      <setting name="SpineHeroApiUrl" serializeAs="String">
        <value>https://spinehero.com/api/v1/</value>
      </setting>
      <setting name="UpdateUrl" serializeAs="String">
        <value>http://spinehero.com/other/autoupdater/appcast.xml</value>
      </setting>
    </SpineHero.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <SpineHero.Properties.Notifications>
      <setting name="PopupNotification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PopupNotificationTimeLimit" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DimNotification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DimNotificationTimeLimit" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="NotificationAreaNotification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BreakNotification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BreakNotificationTimeLimit" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="BreakNotificationBreakLength" serializeAs="String">
        <value>00:01:00</value>
      </setting>
    </SpineHero.Properties.Notifications>
    <SpineHero.Properties.Settings>
      <setting name="UseDepthCamera" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WasMinimalized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AnalyzePeriodWithNotification" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="AnalyzePeriod" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="DataSource" serializeAs="String">
        <value>WebCameraDataSource</value>
      </setting>
      <setting name="DisplayWelcomeScreenOnStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WasAutolaunchSetBefore" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppLanguage" serializeAs="String">
        <value />
      </setting>
    </SpineHero.Properties.Settings>
  </userSettings>
</configuration>
